@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Quicksand:300,400,500,700);@import url(https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome.min.css);li {
  list-style: none;
}

.inline {
  display: inline-block;
}

.w-500 {
  width: 500px;
}

.mass_edit_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mass_edit_section select,
.mass_edit_section .radio-group {
  width: 500px;
}

.mass_edit_section div.checklistContainer {
  padding: 4px;
  background: #f7f7f7;
  border: 1px solid #aaa;
  margin-bottom: 10px;
  font-family: Helvetica,arial,verdana,sans-serif;
  font-size: 12px;
  line-height: 1.6em;
  width: 500px;
}

.mass_edit_section .findInList {
  margin-bottom: 5px;
}

.mass_edit_section .search-input {
  width: 100%;
  margin-bottom: 10px;
  background-color: #ccec91;
  border-radius: 4px;
  border: 1px solid #719e37;
  padding: 4px;
  height: 30px;
}

.mass_edit_section .checklist {
  border: 1px solid #aaa;
  color: #555;
  background: #fff;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
}

.mass_edit_section .checklist li {
  padding: 3px;
}

.mass_edit_section .checklist li:nth-child(odd) {
  background-color: #f7f7f7;
}

.mass_edit_section .checklist li:nth-child(even) {
  background-color: #fff;
}

.mass_edit_section .checklist li input {
  display: block;
  float: left;
  margin-top: 4px;
}

.mass_edit_section .checklist label {
  display: block;
  margin: 0;
  padding: 0;
  padding-left: 25px;
}

.mass_edit_section ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-laravel {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

